---
import AstroIcon from '../components/Icons/AstroIcon.astro';
import TailwindIcon from '../components/Icons/TailwindIcon.astro';
import MosquittoIcon from '../components/Icons/MosquittoIcon.astro';
import RaspberryIcon from '../components/Icons/RaspberryIcon.astro';
import Link from '../components/Icons/Link.astro';
import GitHubIcon from '../components/Icons/GithubIcon.astro';

import LinkButton from "./LinkButton.astro"

const TAGS = {

  Astro: {
    name: "Astro",
    class: "bg-[#003159] text-white",
    icon: AstroIcon,
   
  },
  Tailwind: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
   
  },
  Mosquitto: {
    name: "Mosquitto",
    class: "bg-[#003159] text-white",
    icon: MosquittoIcon,
   
  },
  Raspberry: {
    name: "Raspberry",
    class: "bg-[#003159] text-white",
    icon: RaspberryIcon,
   
  },
}
const PROJECTS = [
  {
    title: "Nimani - Un proyecto bio-medico con solucion iot",
    description:
      "Dirigí un equipo para desarrollar un sistema médico de monitoreo y rehabilitación pulmonar. Este sistema permite a los médicos programar ejercicios respiratorios personalizados que los pacientes imitan, comparando un patrón programado con su respiración en tiempo real, mediante el censado de variables fisiológicas.",
    github: "#",
 
    image: "public/Nimani.webp",
    tags: [ TAGS.Mosquitto,TAGS.Raspberry,],
  },
  {
    title: "Maxi's Pizzeria - Pagina web de una Pizzeria artesanal",
    description:
      "Página web para una pizzería artesanal, destacando la tradición y el sabor en cada bocado. La página incluye un menú detallado, información de contacto, ubicación, opciones de reservación en línea y una galería de fotos que muestra las deliciosas pizzas y el acogedor ambiente del local. ",
    link: "https://adventjs.dev",
    image: "public/pizzeria.webp",
    github: "#",
    tags: [ TAGS.Astro,TAGS.Tailwind,],
  },
]
---

<div class="flex flex-col  justify-center items-center gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="  w-full md:w-[400px]  mt-2   ">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
        <img alt="Imagen del proyectos" class="object-cover object-top w-full h-[250px]  transition duration-500 " loading="lazy" src={image} />
        </div>
    </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHubIcon  />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Ver mas
            </LinkButton>
          )}
        </footer> 
    </div>
  </div>
</article>
    ))
  }
</div>


